#set( $env.language = 'Python' )
#parse("_include/standard-variables.vm")
#parse("_include/standard-macros.vm")
#parse("_include/standard-python-header.vm")
# Domain dataclass for entity ${entity.name} 
# Pydantic BaseModel is preferred to Python dataclass in order to offer automatic ORM conversion

#basicImports($entity.attributes)
from pydantic import BaseModel

class ${entity.name}(BaseModel):
#foreach( $attribute in $entity.attributes )
$__#set( $pkComment = "")
$__#if($attribute.isKeyElement()) 
$____#set( $pkComment = "# Primary Key")
$__#end
$__#if($attribute.isGeneratedValue()) 
$____#set( $pkComment = "${pkComment} # Generated Value (${attribute.generatedValueStrategy})")
$__#end
    ${attribute.name}: $attribute.type $pkComment
#end

    # Old (Pydantic v1)
    # class Config:
    #    orm_mode = True  # Enable 'from_orm' conversion
    
    # New (Pydantic v2)
    model_config = {
        "from_attributes": True
    }