#set( $env.language = 'Python' )
#parse("_include/standard-python-header.vm")
# Web app entry point 

import logging
from fastapi import FastAPI, Request, APIRouter
## from sqlalchemy import create_engine
## from sqlalchemy.orm import sessionmaker, Session

#foreach( $entity in $model.entities )
#set($entLC = $entity.name.toLowerCase() )
from rest.routers.${entLC}_router import router as ${entLC}_router 
#end

# import db_session to call create_all() (database tables creation)
from db.db_session import Base, engine

# Configure basic logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

logger.info("Starting application")

# Enable SQLAlchemy SQL logging only for schema (DDL)
logging.getLogger("sqlalchemy.schema").setLevel(logging.INFO)
# Enable SQLAlchemy SQL logging for all SQL statements (DDL + DML)
# logging.getLogger("sqlalchemy.engine").setLevel(logging.INFO)

# --- DATABASE initialization 
print(Base.metadata.tables.keys())
print("--- SQLAlchemy : create_all(engine)...")
# create_all(engine): Just for development tests
# For every table registered in Base.metadata, create it in the database if it does not already exist
# . Creates missing tables
# . Does not drop existing tables 
# . Does not update or migrate schemas
# . Does not delete columns
Base.metadata.create_all(engine)
print("--- SQLAlchemy : create_all(engine) - Done.")

# --- REST API application and routers 
# FastAPI application variable ("app" by convention)
app = FastAPI(
    title = "My REST API application",
    description = "REST API application based on FastAPI.",
    version = "0.0.1"
)
# Remark: 
#  In FastAPI, the HTTP listening port is not defined in the Python code.
#  It is defined by the ASGI server used to run the app (usually Uvicorn or Gunicorn)

# FastAPI - main router (defines the global API prefix)
api_router = APIRouter(prefix="$fn.get('REST_API_ROOT', '/api/v1' )")
# FastAPI - sub-routers 
#foreach( $entity in $model.allEntites )
#set($entLC = $entity.name.toLowerCase() )
api_router.include_router(${entLC}_router, prefix="/${entLC}", tags=["${entLC}"])
#end
# FastAPI - include the main router in the app
app.include_router(api_router)

# Default basic endpoints
@api_router.get("/")
def rest_api_root():
    return {"message": "REST API ready"}
@app.get("/")
def global_root():
    return {"message": "Application ready"}
