#set( $env.language = 'Python' )
#parse("_include/standard-python-header.vm")
# Web app entry point 

import logging
from fastapi import FastAPI, Request
## from sqlalchemy import create_engine
## from sqlalchemy.orm import sessionmaker, Session

#foreach( $entity in $model.entities )
#set($entLC = $entity.name.toLowerCase() )
from rest.routers.${entLC}_router import router as ${entLC}_router 
#end

# import db_session to call create_all() (database tables creation)
from db.db_session import Base, engine

# Configure basic logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

logger.info("Starting application")

print(Base.metadata.tables.keys())
print("--- SQLAlchemy : create_all(engine)...")
Base.metadata.create_all(engine)
print("--- SQLAlchemy : create_all(engine) - Done.")

#*
# Database and SQLAlchemy 
DATABASE_URL = "sqlite:///./brands.db"

engine = create_engine(DATABASE_URL, connect_args={"check_same_thread": False})
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)
*#

# FastAPI application variable ("app" by convention)
app = FastAPI(
    title = "My REST API application",
    description = "REST API application based on FastAPI.",
    version = "0.0.1"
)
#*
# Dependency to get DB session
def get_db():
    db = SessionLocal()
    try:
        yield db
    finally:
        db.close()
*#

# FastAPI application sub-routers 
#foreach( $entity in $model.allEntites )
#set($entLC = $entity.name.toLowerCase() )
app.include_router(${entLC}_router, prefix="/${entLC}", tags=["${entLC}"])
#end

# Default basic endpoints
@app.get("/")
def read_root():
    return {"message": "Application ready"}

@app.get("/headers/")
async def get_all_headers(request: Request):
    headers = request.headers  # This returns a 'Headers' object
    accept = headers.get("accept")
    return {"headers": dict(headers), "accept": accept}  # Convert to a dictionary for JSON serialization
