#---------------------------------------------------------
# Templates bundle configuration file
# 5 values separated by ";"
# . value 1 : the label to be displayed 
# . value 2 : the file to be generated (with variables replacement)
# . value 3 : the project folder where to generate (with variables replacement)
# . value 4 : the template to use
# . value 5 : execution type : "1" ("ONCE" for all entities), "*" (executed for each entity), "R" (resouces copy)
#---------------------------------------------------------

; README.md      ;           ; README.md.vm                ; 1
; settings.json  ; .vscode   ; .vscode/settings.json.vm     ; 1
; sqlite-db.txt  ; sqlite-db ; sqlite-db/sqlite-db.txt.vm  ; 1

## Application entrypoint 
Application (main) ; main.py         ;          ; main.py.vm           ; 1

### Domain : entities and services
 ; exceptions.py         ; domain/commons  ; domain/commons/exceptions.py.vm    ; 1
 ; ${ENT_LC}.py          ; domain/model    ; domain/model/{ENT_LC}.py.vm  ; *
 ; ${ENT_LC}_service.py  ; domain/services ; domain/services/{ENT_LC}_service.py.vm    ; *

### REST : DTO and routers
BaseDto   ; base_dto.py           ; rest/commons    ; rest/commons/base_dto.py.vm    ; 1
DTO       ; ${ENT_LC}_dto.py      ; rest/dto        ; rest/dto/{ENT_LC}_dto.py.vm         ; *
Router    ; ${ENT_LC}_router.py   ; rest/routers    ; rest/routers/{ENT_LC}_router.py.vm  ; *

### Database : records and repositories
 ; db_session.py           ; db              ; db/db_session.py.vm       ; 1
 ; db_decorator.py         ; db              ; db/db_decorator.py.vm     ; 1
 ; base_repository.py      ; db              ; db/base_repository.py.vm  ; 1
 ; ${ENT_LC}_record.py     ; db/records      ; db/records/{ENT_LC}_record.py.vm           ; *
 ; ${ENT_LC}_repository.py ; db/repositories ; db/repositories/{ENT_LC}_repository.py.vm  ; *

### SQL create tables for PostgreSQL database 
PostgreSQL create tables ; postgresql-create-tables.sql ; sql ; sql/postgresql-create-tables.sql.vm  ; 1 
PostgreSQL drop tables   ; postgresql-drop-tables.sql   ; sql ; sql/postgresql-drop-tables.sql.vm    ; 1 