#set( $env.language = 'Python' )
## --- Database type
#set($TARGET_DATABASE = $fn.get('TARGET_DATABASE', 'SQLite') )
## #set( $env.database = 'sqlite' )
#set( $env.database = $TARGET_DATABASE )
#parse("_include/standard-variables.vm")
#parse("_include/standard-macros.vm")
#parse("_include/standard-python-header.vm")
# Database record for entity ${entity.name} (used by SqlAchemy ORM)
#set( $sql = $env.sql )

#sqlalchemyImport($entity.attributes)
from db.db_session import Base

class ${recordType}(Base):
#if ( $env.database.equalsIgnoreCase("PostgreSQL") ) 
## For PostgreSQL use lowercase for table names to avoid conflict due to SQLALchemy quoted strings
    __tablename__ = "${entity.sqlTableName.toLowerCase()}"
#else
    __tablename__ = "${entity.sqlTableName}"
#end
#foreach( $attribute in $entity.attributes )
$__#set( $more = '' )
## --- if autoIncremented
## #if( $attribute.isAutoIncremented() && ! $attribute.isKeyElement() )
$__#if( $attribute.isAutoIncremented() )
## for PostgreSQL : do not use autoincrement for PK
$____#set( $more = "${more}, autoincrement=True" )
## NB: 'autoincrement' doesn't work with 'BigInteger' (only Integer)?
$__#else
## --- if generated value with sequence
$____#if ( $attribute.hasGeneratedValueSequenceName() )
$______#set( $seq = "Sequence(${QUOT}${attribute.generatedValueSequenceName}${QUOT}" )
$______#if( $attribute.hasGeneratedValueInitialValue() )
$________#set( $seq = "${seq}, start=${attribute.generatedValueInitialValue}")
$______#end
$______#set( $seq = "${seq})" )## close parenthesis 
$______#set( $more = "${more}, ${seq}" )
$____#end
$__#end
## --- if PK (at then end)
$__#if( $attribute.isKeyElement() )
$____#set( $more = "${more}, primary_key=True" )
$__#end
#setAttributeOrmType($attribute)
    ${attribute.name} = Column("${attribute.sqlColumnName}", ${attributeOrmType}${more} ) # $sql.databaseName type "$attribute.sqlColumnType"
#end##foreach-end
