##### ----- Standard global variables 
## Target database, if not defined default is 'SQLite'
#set($TARGET_DATABASE = $fn.get('TARGET_DATABASE', 'SQLite') )
#set( $env.database = $TARGET_DATABASE )
##### ----- Standard variables for the current entity (if defined)
#if ( $fn.isDefined('entity') )
#set($entLC   = $entity.name.toLowerCase() )
#set($ent     = $entity.name.toLowerCase() )
#set($entType = $entity.name )
## Domain
#set($service     = "${entLC}_service" )
#set($serviceType = "${entity.name}Service" )
## REST 
#set($dto      = "${entLC}_dto"      )
#set($dtoType  = "${entity.name}Dto"     )
## Database persistence/ORM
#set($record     = "${entLC}_record" )
#set($recordType = "${entity.name}Record" )
#set($repository     = "${entLC}_repository" )
#set($repositoryType = "${entity.name}Repository" )
#end