#set( $env.language = 'Python' )
#using( "DB_SCHEMA", "DB_USER", "DB_PASSWORD", "DB_HOST", "DB_PORT", "DB_NAME" ) 
#parse("_include/standard-python-header.vm")
# Database session 

from sqlalchemy import create_engine
from sqlalchemy.orm import declarative_base, sessionmaker, Session

# --- Declarative Base 
Base = declarative_base()

#----- FastAPI with SQLAlchemy
#-- Database configuration for SQLite
# DATABASE_URL = "sqlite:///./brands.db"
# engine = create_engine(DATABASE_URL, connect_args={"check_same_thread": False})
#-- Database configuration for PostgreSQL
# "+psycopg" part in the SQLAlchemy URL specifies which DBAPI driver SQLAlchemy should use to communicate with PostgreSQL.
# DATABASE_URL = "postgresql+psycopg://myuser:mypassword@localhost:5432/mydatabase"
# engine = create_engine(DATABASE_URL, echo=True)  # echo=True for SQL logging

#--- externalize database credentials and config with environment variables
# DB_USER = os.environ.get("DB_USER", "default_user")
# DB_PASSWORD = os.environ.get("DB_PASSWORD", "default_password")
# DB_HOST = os.environ.get("DB_HOST", "localhost")
# DB_PORT = os.environ.get("DB_PORT", "5432")
# DB_NAME = os.environ.get("DB_NAME", "mydatabase")
# DATABASE_URL = f"postgresql+psycopg://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
DATABASE_URL = "postgresql+psycopg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"
# create engine with default schema 
engine = create_engine(
    DATABASE_URL,
    connect_args={"options": "-csearch_path=${DB_SCHEMA}"}, # 'search_path' = default schema in database
    echo=True,  # logs all SQL statements to stdout
)

#-- Session factory
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

#-- idiomatic 'get_db'
# yield => creating a single session for each request
# when yield is used, the finally code block is executed after the request has been processed and the response has been sent
def get_db():
    db: Session = SessionLocal()
    try:
        yield db
    finally:
        db.close()
