#set( $env.language = 'Python' )
#parse("_include/standard-variables.vm")
#parse("_include/standard-python-header.vm")
# Database record for entity ${entity.name} (used by SqlAchemy ORM)
## --- Database type
## #set( $env.database = 'sqlite' )
#set( $env.database = 'postgresql' )
#set( $sql = $env.sql )
## --- Mapping 'model-type' to 'SQLAlchemy-type'
## always use 'Integer' (not 'SmallInteger' and not 'BigInteger')
#set( $ormTypes = {
  "binary"     : "LargeBinary" , 
  "boolean"    : "Boolean" , 
  "byte"       : "Integer" , 
  "date"       : "Date" , 
  "datetime"   : "DateTime" , 
  "datetimetz" : "DateTime(timezone=True)" , 
  "decimal"    : "Numeric" , 
  "double"     : "Float" , 
  "float"      : "Float" , 
  "int"        : "Integer" , 
  "long"       : "Integer" , 
  "short"      : "Integer" , 
  "string"     : "String" ,   
  "time"       : "Time" , 
  "timetz"     : "Time(timezone=True)" , 
  "timestamp"  : "DateTime",
  "uuid"       : "UUID" } ) 
## String or String(length) or Unicode(length)
## UUID or CHAR(32) / String(36) if UUID not supported by the database
## NB: For SQLite use "String(36)" instead of "UUID" (not supported)

from sqlalchemy import ( Column,
    Integer, SmallInteger, BigInteger, Float, Numeric, Boolean,
    String, Text, CHAR, Unicode, UnicodeText,
    Date, Time, DateTime, 
    LargeBinary, UUID, Sequence
)
from sqlalchemy.orm import declarative_base
## 
## Base = declarative_base()
## (moved in db_session)
from db.db_session import Base

class ${recordType}(Base):
#if ( $env.database.equalsIgnoreCase("PostgreSQL") ) 
## For PostgreSQL use lowercase for table names to avoid conflict due to SQLALchemy quoted strings
    __tablename__ = "${entity.sqlTableName.toLowerCase()}"
#else
    __tablename__ = "${entity.sqlTableName}"
#end
#set($__ = "")
#set($____ = "")
#set($______ = "")
#foreach( $attribute in $entity.attributes )
#set( $more = '' )
## --- if autoIncremented
## #if( $attribute.isAutoIncremented() && ! $attribute.isKeyElement() )
#if( $attribute.isAutoIncremented() )
## for PostgreSQL : do not use autoincrement for PK
$__#set( $more = "${more}, autoincrement=True" )
## NB: 'autoincrement' doesn't work with 'BigInteger' (only Integer)?
#else
## --- if generated value with sequence
$__#if ( $attribute.hasGeneratedValueSequenceName() )
$____#set( $seq = "Sequence(${QUOT}${attribute.generatedValueSequenceName}${QUOT}" )
$____#if( $attribute.hasGeneratedValueInitialValue() )
$______#set( $seq = "${seq}, start=${attribute.generatedValueInitialValue}")
$____#end
$____#set( $seq = "${seq})" )## close parenthesis 
$____#set( $more = "${more}, ${seq}" )
$__#end
#end
## --- if PK (at then end)
#if( $attribute.isKeyElement() )
$__#set( $more = "${more}, primary_key=True" )
#end
## --- Type and SQL type
#set( $type = $ormTypes[${attribute.neutralType}])
#set( $sqlType = $fn.toLowerCase($sql.columnType($attribute)) )
## --- UUID
#if ( $type == "UUID" )
$__#if ( $sqlType.startsWith("char")  || $sqlType.startsWith("varchar")  || $sqlType.startsWith("text")  )
$____#set( $type = "String(36)")## Store UUID as a string
$__#end
#end
    ${attribute.name} = Column("${attribute.sqlColumnName}", ${type}${more} ) # $sql.databaseName type "${sqlType}"
#end##foreach
