#parse("_include/standard-sql-header.vm")
-- DROP TABLES for model "$model.name"
#set( $env.database = 'PostgreSQL' )
#using( "DB_SCHEMA" ) 

-- Set current schema 
SET search_path TO $DB_SCHEMA;

-- Drop all tables 
## ---------------------------------------------------------
##  DROP TABLE for each ENTITY
## ---------------------------------------------------------
#foreach( $entity in $model.allEntites )
DROP TABLE $entity.sqlTableName CASCADE ;
#end
